{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>adData</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="">
      <div class="container-fluid">
        <a href="{% url 'home' %}" style="font-size: 40px" class="navbar-brand" href="{% if not user.is_authenticated %}{% url 'home' %}{% endif %}{% if user.rater %}{% url 'discover' %}{% endif %}{% if user.business %}{% url 'dashboard' %}{% endif %}">adData</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if user.rater and user.is_authenticated and user.rater.is_email_verified %}
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'discover' %} active {% endif %}" aria-current="page"  href="{% url 'discover' %}">Discover</a>

            </li>
              <li class="nav-item">
             <a class="nav-link  active" aria-current="page"  href="">Credits: {% if user.rater.credits %}{{ user.rater.credits }} {% else %} 0 {% endif %}</a>

            </li>
           {% endif %}
          {% if user.business and user.is_authenticated and user.business.is_email_verified %}
              <li class="nav-item" >
              <a class="nav-link {% if request.resolver_match.url_name == 'adCreate' %} active {% endif %}" aria-current="page"  href="{% url 'adCreate' %}">Create An Ad</a>
            </li>
              <li class="nav-item" >
              <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}" aria-current="page"  href="{% url 'dashboard' %}">Dashboard</a>
            </li>
          {% endif %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if not user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'bsignup' %}">Signup as a Business!</a></li>
                <li><a class="dropdown-item" href="{% url 'signup' %}">Signup as a Rater!</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="{% url 'loginRater' %}">Login</a>
                </li>
              {% endif %}
                  {% if user.is_authenticated %}
                      <li>
                  <a class="dropdown-item" href="{% url 'logoutRater' %}">Logout</a>
                </li>
                  {% endif %}
              </ul>
            </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link active" aria-current="page">Signed in As: {{ user.first_name }}{{ user.business.company_name }}</a>
            </li>
          <li class="nav-item">
          {% if not user.rater.is_email_verified and user.rater %}
              <a class="nav-link active" href="{% url 'emailVer'%}" aria-current="page">Verify Email</a>
            </li>
              {% endif %}
              {% if not user.business.is_email_verified and user.business %}
              <a class="nav-link active" href="{% url 'emailVerB'%}" aria-current="page">Verify Email</a>
            </li>
              {% endif %}

          {% endif %}
          </ul>
{#user settings / account detail stuff here#}
        </div>
      </div>
    </nav>
  {% block content %}{% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>



