{% extends "display/base.html" %}
{% load static %}
{% block content %}
<div class="container" style="background-color: rgb(189, 211, 239); margin-bottom: 91px; margin-top: 91px">
    <div class="row">
    <div class="col" >
        <img class="rounded" src="{% static 'display/logo.png' %}"  width="500" height="500" alt="Logo">
    </div>
    <div class="col" style="padding: 100px; font-family: 'Shadows Into Light', cursive;">
        <h1>Make your advertisements smart, by gathering useful data for yourselves or simply help out struggling businesses!</h1>
    </div>
    </div>
</div>
    <div style="background-color: #0096FF">
<div class="container" style="padding-top: 30px; padding-bottom: 100px; color: white; font-family: 'Open Sans Condensed', sans-serif; font-size: xx-large">
    <div class="row text-center" >
        <div class="col">
            Make smarter decisions <br>
            and
        </div>
        <div class="col">
            Signup as a Business!<br>
            <a  href="{% url 'bsignup' %}" class="btn btn-warning btn-lg"> SignUp!</a>
        </div>
        <div class="col">
            Signup as a Rater!<br>
            <a  href="{% url 'signup' %}" class="btn btn-warning btn-lg"> SignUp!</a>
        </div>

    </div>
    <br>
    <div class="row text-center" >
        <div class="col" style="">
            Or if you are already <br> with us
        </div>
        <div class="col">
            Log in to your account! <br>
            <a  href="{% url 'loginRater' %}" class="btn btn-warning btn-lg"> Login!</a>
        </div>
    </div>
</div>
</div>



{% endblock content %}
