{% extends "display/base.html" %}

{% block content %}
    {% if user.business.is_email_verified %}
    <div class="container" style="padding-top: 20px; padding-left: 300px; padding-right: 300px;">

    <form method='POST'>
          <div class="form-group card" style="padding: 30px;background-color: #EAEFF2">
                              <h1 class="text-center display-4" style="padding-bottom: 20px;">Create an Ad</h1>

    {% csrf_token %}
          {{ form.as_p }}
                      <button class="btn btn-primary btn-lg input-block-level" type="submit">Create!</button>

              </div>
</form>

    </div>
    {% else %}
        <div class="container">
        <h1>
            Please verify your email!
        </h1>
        </div>
{% endif %}


{% endblock content %}