{% extends 'display/base.html' %}

{% block content %}
  <h2>Code</h2>
    {% if user.is_authenticated and user.profile.is_email_verified %}
      You are already verified!
        <a href="{% url 'home' %}">Go back!</a>
    {% else %}
        A code has been emailed. If you reload or open this page again a new code will be provided!
        <form method="post">
    {% csrf_token %}
      {{ error }}
        Code:
            <input type="text" name="code" id="code">
    <button type="submit">Verify</button>
  </form>
    {% endif %}
{% endblock %}