{% extends "display/base.html" %}
{% load static %}
{% block content %}
    <br>
    {% if user.business.is_email_verified %}
    <div class="container">
    <h1>Dashboard</h1>
    {% if not items %}
        <h3>You don't have any working ads right now, you make one now though!</h3>
        <h4><a href="{% url 'adCreate' %}" class="btn btn-primary">Create!</a></h4>
        {% endif %}

        <ul class="list-group" >
{% for i in items %}
  <li class="list-group-item">
            <a href="{% url 'viewAd' i.id %}" style="text-decoration: none">
<div style="color: black">
    <b style="text-decoration: none;">{{ i.title }}</b><br>
    Reward: {{ i.reward }},
      Responses: {{ i.num_views }}
    <hr>
</div>
                          </a>
      <form action="{% url 'done' i.id %}" method="POST">
          {% csrf_token %}
  <button type="submit" class="btn btn-danger">Done </button>
          </form>
  </li>


    {% endfor %}
        </ul>
    </div>
{% else %}
        <div class="container">
        <h1>
            Please verify your email!
        </h1>
        </div>
{% endif %}



{% endblock content %}