{% extends "display/base.html" %}

{% block content %}
    <br>
    {% if user.business.is_email_verified %}
    <div class="container">
    <h1>Discover</h1>
        <ul class="list-group" >
{% for i in items %}
          <a href="{% url 'viewAd' i.id %}" style="text-decoration: none">
  <li class="list-group-item">
    <b>{{ i.title }}</b><br>
    Reward: {{ i.reward }},
      Responses: {{ i.num_views }}
    <hr>
  </li>
          </a>

    {% endfor %}
            <ul class="list-group">
    </div>
{% else %}
        <div class="container">
        <h1>
            Please verify your email!
        </h1>
        </div>
{% endif %}


{% endblock content %}